{
  "Enabled": true,
  "EnforceTextIsolation": true,
  "EnforceCompetitiveVoiceCvars": true,
  "BlockLivingGlobalChat": true,
  "PreservePluginCommands": true,
  "ChatPrefix": "{Lime}[LEGACY-X]{Default}"
}
